@model IEnumerable<QuanLyCuaHangGamingGear.Models.PhieuNhap>
@{
    Layout = "_AdminLayout";
}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Danh sách phiếu nhập
                </div>
                <div class="card-body">
                    <table id="datatablesSimple" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nhà cung cấp</th>
                                <th>Nhân viên kiểm</th>
                                <th>Ngày nhập</th>
                                <th>Tổng tiền phiếu nhập</th>
                                <th>Ghi chú</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Nhà cung cấp</th>
                                <th>Nhân viên kiểm</th>
                                <th>Ngày nhập</th>
                                <th>Tổng tiền phiếu nhập</th>
                                <th>Ghi chú</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.MaPn</td>
                                    <td>@item.MaNccNavigation?.TenNcc</td>
                                    <td>@item.MaNvNavigation?.TenNv</td>
                                    <td>@item.NgayNhap</td>
                                    <td>@item.TongTienPn?.ToString("#,##0") VND</td>
                                    <td>@item.GhiChu</td>
                                    <th>Action</th>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </main>
</div>