@model QuanLyCuaHangGamingGear.Models.NhanVien

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>NhanVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenNv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenNv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cccd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cccd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChucVu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChucVu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaNv">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
